.Container {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: auto;
}

.row {
  box-shadow: 0px 3px 5px rgb(0, 0, 0);
  border: 5px solid black;
}

.form {
  margin: auto;
  justify-content: center;
  border: none;
  padding: 10px;
  font-size: 20px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
 
}

h5{
  color:rgb(255, 0, 0);
  margin-bottom: 20px;
  align-items: center;
  text-align: center;
}

.form1 {
  margin: auto;
  justify-content: center;
  border: none;
  text-align: center;
  width:20rem;
  padding: 10px;
  font-size: 15px;
  color: rgb(0, 81, 255);
  background-color: rgb(255, 255, 255);
}

.row1 {
  margin: auto;
  padding: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-height: 540px;
  padding: 30px;
  color: #000000;
  text-decoration: none;
  border: none;
  background-color: rgb(0, 0, 0);
}

.btn{
  font-size:15px;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;

}

.div.btn{
  font-size:15px;
  text-align: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;

  align-items: center;
}
.input.btn{
  font-size:15px;
  transition: all 0.2s ease-in-out;
  justify-content: center;
  align-items: center;
}
