* {
  box-sizing: border-box;
}
.carousel * {
    box-sizing: border-box;
    margin-top: 100px;
}

.cardimg {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding-bottom: 20px;
}

.carousel .slide {
  min-width: 100%;
  margin: 0;
  color:white;
  position: relative;
  text-align: center;
  border-top: 40px solid;
  border-bottom: 25px solid;

}

.cardText {
  font-size: 20px;
  margin: 20px;
  transition: all 0.2s ease-in-out;
 text-decoration: none;
 color: rgb(0, 47, 255);

}

.cardText a:link {
  color: #000000;
  transform: scale(1.05);
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  text-decoration: none;
} 

a:visited {
  color: #0040ff;
  transform: scale(1.05);
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: #bf00ff;
  transform: scale(1.05);
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

a:active {
  color: #ff0000;
  transform: scale(1.05);
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  text-decoration: none;

}

.carousel .control-dots {
  z-index: 0;
  visibility: hidden;
}

.carousel .carousel-status {
  visibility: hidden;

}

.carousel .control-arrow, .carousel.carousel-slider .control-arrow {
    transition: all .25s ease-in;
    position: absolute;
    z-index: 2;
    top: -30px;
    bottom: 36px;
    background: rgb(0, 0, 0);
    border: 0;
    font-size: 32px;
    cursor: pointer;
}
